.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BigTitle {
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

.text {
    width: 100%;
    font-size: 40px;
    margin: 20px;
    text-align: left;
}

.showtext {
    width: 300px;
    height: 100px;
    background-color: aqua;
    text-align: right;
    font-size: 50px;
    line-height: 60px;
    border: white 3px solid;
    box-sizing: border-box;
    padding: 20px;
}

.button {
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    font-size: 50px;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border: white 3px solid;
    box-sizing: border-box;
    cursor: pointer;
}

.zero {
    width: 200px!important;
}

.CalBtn {
    width: 160px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    font-size: 20px!important;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.title {
    width: 70px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    border-bottom: black 1px solid;
}

.data {
    width: 70px;
    height: 40px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    border-bottom: black 1px solid;
}

.count {
    font-size: 20px!important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #fff893, #ff3e3e);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}